<?xml version="1.0"?>
<root xmlns="urn:schemas-upnp-org:device-1-0">
<specVersion>
<major>1</major>
<minor>0</minor>
</specVersion>
<URLBase>http://127.0.0.1:{port}</URLBase>
<device>
<deviceType>urn:schemas-upnp-org:device:InternetGatewayDevice:1</deviceType>
<friendlyName>SpeedTouch 5x6 (0320FJ2PZ)</friendlyName>
<manufacturer>Pannaway</manufacturer>
<manufacturerURL>http://www.pannaway.com</manufacturerURL>
<modelDescription>DSL Internet Gateway Device</modelDescription>
<modelName>Pannaway</modelName>
<modelNumber>RG-210</modelNumber>
<modelURL>http://www.pannaway.com</modelURL>
<serialNumber>0320FJ2PZ</serialNumber>
<UDN></UDN>
<presentationURL>/</presentationURL>
<serviceList>
<service>
<serviceType>urn:schemas-upnp-org:service:Layer3Forwarding:1</serviceType>
<serviceId>urn:upnp-org:serviceId:layer3f</serviceId>
<controlURL>/upnp/control/layer3f</controlURL>
<eventSubURL>/upnp/event/layer3f</eventSubURL>
<SCPDURL>/upnp/Layer3Forwarding.xml</SCPDURL>
</service>
</serviceList>
<deviceList>
<device>
<deviceType>urn:schemas-upnp-org:device:LANDevice:1</deviceType>
<friendlyName>LANDevice</friendlyName>
<manufacturer>Pannaway</manufacturer>
<modelName>Pannaway</modelName>
<serialNumber>0320FJ2PZ</serialNumber>
<UDN>_LD</UDN>
<serviceList>
<service>
<serviceType>urn:schemas-upnp-org:service:LANHostConfigManagement:1</serviceType>
<serviceId>urn:upnp-org:serviceId:lanhcm</serviceId>
<controlURL>/upnp/control/lanhcm</controlURL>
<eventSubURL>/upnp/event/lanhcm</eventSubURL>
<SCPDURL>/upnp/LANHostConfigManagement.xml</SCPDURL>
</service>
</serviceList>
</device>
<device>
<deviceType>urn:schemas-upnp-org:device:WANDevice:1</deviceType>
<friendlyName>WANDevice</friendlyName>
<manufacturer>Pannaway</manufacturer>
<modelName>Pannaway</modelName>
<serialNumber>0320FJ2PZ</serialNumber>
<UDN>_WD</UDN>
<serviceList>
<service>
<serviceType>urn:schemas-upnp-org:service:WANCommonInterfaceConfig:1</serviceType>
<serviceId>urn:upnp-org:serviceId:wancic</serviceId>
<controlURL>/upnp/control/wancic</controlURL>
<eventSubURL>/upnp/event/wancic</eventSubURL>
<SCPDURL>/upnp/WANCommonInterfaceConfig.xml</SCPDURL>
</service>
</serviceList>
</device>
</deviceList>
</device>
</root>
