<root xmlns="urn:schemas-upnp-org:device-1-0"
      xmlns:ms=" urn:microsoft-com:wmc-1-0">
  <specVersion>
    <major>1</major>
    <minor>0</minor>
  </specVersion>
  <URLBase>http://127.0.0.1:{port}</URLBase>
  <device>
    <deviceType>urn:schemas-upnp-org:device:MediaRenderer:1</deviceType>
    <friendlyName>Marantz SR5008</friendlyName>
    <manufacturer>Marantz</manufacturer>
    <manufacturerURL>http://www.marantz.com</manufacturerURL>
    <modelDescription>AV SURROUND RECEIVER</modelDescription>
    <modelName>Marantz</modelName>
    <modelNumber>5008</modelNumber>
    <modelURL>http://www.marantz.com</modelURL>
    <serialNumber>12345</serialNumber>
    <UDN />
    <serviceList>
      <service>
        <serviceType>urn:schemas-upnp-org:service:RenderingControl:1</serviceType>
        <serviceId>urn:upnp-org:serviceId:RenderingControl</serviceId>
        <controlURL>/RenderingControl/ctrl</controlURL>
        <eventSubURL>/RenderingControl/evt</eventSubURL>
        <SCPDURL>/upnp/WANCommonInterfaceConfig.xml</SCPDURL>
      </service>
    </serviceList>
  </device>
</root>
